@import "tailwindcss";

:root {
	--background: #FFFFFF;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--font-fredoka: var(--font-fredoka);
	--font-gabarito: var(--font-gabarito);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

@theme {
	--color-primary: #004D57;
	--color-secondary: #F0F0F0;
	--color-accent: #1E8572;
	--breakpoint-mobile-m: 25rem; /*400px*/
	--breakpoint-mobile-l: 30rem; /*480px*/
	--breakpoint-tablet-m: 38rem; /*680px*/
	--breakpoint-tablet-l: 45rem; /*720px*/
}

@layer components {
	.root-layout {
		@apply 
		h-full mt-4 mx-auto 
		flex flex-wrap
	}
	.main-layout {
		@apply 
		row-span-2 col-span-2
		p-[5%]
		grid 
		grid-cols-[auto_40%] mobile-l:grid-cols-[auto_45%]
		grid-rows-[auto_4%_auto_auto] mobile-m:grid-rows-[15%_5%_auto_auto] mobile-l:grid-rows-[15%_4%_auto_auto]
		gap-4
	}
	.title {
		@apply 
		text-[20px] mobile-m:text-2xl mobile-l:text-3xl
		font-gabarito 
	}
	.sub-title {
		@apply text-[1rem] font-gabarito
	}
	.paragraph {
		@apply 
		text-[12px] mobile-m:text-[14px] mobile-l:text-[16px]
		font-fredoka
	}
	.card-coloured {
		@apply bg-primary text-secondary rounded-lg p-4 mobile-l:p-[5%]
	}
	.card {
		@apply bg-secondary text-primary shadow-md rounded-lg p-[8%]
	}

	.stack {
		@apply 
		px-2 py-1 
		bg-primary rounded-[4px] 
		text-[12px] mobile-m:text-[13px] mobile-l:text-[14px]
		flex justify-center align-middle text-secondary
	}
	.link-icons {
		@apply 
		w-7.5 mobile-m:w-8.5 mobile-l:w-9.5
		fill-secondary 
		hover:fill-accent focus:fill-accent
	}
	.facet {
		@apply fill-primary hover:fill-accent hover:cursor-pointer focus:fill-accent
	}
	.tech-stack-facet {
		@apply text-[14px] mobile-m:text-[15px] mobile-l:text-[16px]
		bg-primary text-secondary py-2 px-4 rounded-b-lg cursor-pointer 
	}
}
