@import "tailwindcss";

:root {
	--background: #0D1F21;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--font-fredoka: var(--font-fredoka);
	--font-gabarito: var(--font-gabarito);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

@theme {
	--color-primary: #166456;
	--color-secondary: #F1F0E4;
	--color-accent: #166456;
	--breakpoint-mobile-s: 25rem; /*400px*/
	--breakpoint-mobile-l: 30rem; /*480px*/
	--breakpoint-tablet-m: 38rem; /*680px*/
	--breakpoint-tablet-s: 45rem; /*720px*/
	--breakpoint-tablet-m: 50rem; /*800px*/
	--breakpoint-tablet-l: 60rem; /*960px*/
	--breakpoint-desktop-s: 64rem; /*1024px*/
}

@layer components {
	.root-layout {
		@apply 
		w-[90%] mobile-l:max-w-[30rem] tablet-m:max-w-[90%] tablet-l:max-w-[75rem]
		mx-auto mt-[5%]
		grid gap-4 mobile-l:gap-6
		
		/*column layout*/
		mobile-s:grid-cols-[1fr_37%] 
		mobile-l:grid-cols-[1fr_40%]
		tablet-m:grid-cols-[30%_30%_auto]
		desktop-s:grid-cols-[30%_20%_auto]

		/*row layout*/
		mobile-s:grid-rows-[75px_auto]
	}

	.main-layout {
		@apply
		mobile-s:col-span-2
		tablet-m:col-span-3 
		
		mobile-s:mt-[-91px] 
		mobile-l:mt-[-99px]

		grid gap-4 mobile-l:gap-6

		/*column layout*/
		grid-cols-[42%_auto] 
		mobile-s:grid-cols-[auto_37%] 
		mobile-l:grid-cols-[auto_40%]
		tablet-m:grid-cols-[30%_25%_auto]
		desktop-s:grid-cols-[30%_20%_auto]

		/*row layout*/
		grid-rows-[1fr_55px_auto] 
		mobile-s:grid-rows-[75px_auto_65px_auto] 
		mobile-l:grid-rows-[75px_auto_75_auto_auto]
		tablet-m:grid-rows-[75px_auto_80px_auto]
		desktop-s:grid-rows-[75px_20%_70px_auto]
	}

	.portrait {
		@apply
		relative rounded-lg 
		order-1
		mobile-s:col-start-2 mobile-s:row-span-2
	}

	.social-links {
		@apply
		order-4 tablet-m:order-3
	}

	.description {
		@apply
		order-1 tablet-m:order-3
		row-span-2 font-fredoka flex flex-col gap-2 justify-around
	}

	.project-list {
		@apply
		order-4 tablet-m:order-2

		col-span-2 tablet-m:col-span-1
		tablet-m:row-span-4

		flex gap-4 flex-col 
		relative
	}

	.tech-stack {
		@apply
		min-h-[25rem]
		order-5 tablet-m:order-4

		col-span-2 tablet-m:col-span-2

		

		relative
	}

	.title {
		@apply 
		text-[20px] mobile-s:text-2xl mobile-l:text-3xl
		tablet-m:text-2xl
		font-gabarito 
	}

	.sub-title {
		@apply text-[1rem] font-gabarito
	}
	.paragraph {
		@apply 
		text-[12px] mobile-s:text-[14px] mobile-l:text-[16px]
		font-fredoka
	}
	.card-coloured {
		@apply bg-primary text-secondary rounded-lg p-[5%] shadow-md
		tablet-m:p-[4%]
	}
	.card {
		@apply 
		p-[5%]
		bg-secondary text-primary 
		shadow-md rounded-lg
	}

	.stack {
		@apply 
		px-2 py-1 
		bg-primary rounded-[4px] 
		text-[12px] mobile-s:text-[13px] mobile-l:text-[14px]
		tablet-m:text-[12px]
		flex justify-center align-middle text-secondary
	}
	.link-icons {
		@apply 
		w-7 mobile-s:w-8.5 mobile-l:w-9.5
		fill-secondary 
		hover:fill-accent focus:fill-accent
	}
	.facet {
		@apply fill-primary hover:fill-accent hover:cursor-pointer focus:fill-accent
	}

	.tech-stack-facet {
		@apply 
		text-[14px] mobile-s:text-[15px] mobile-l:text-[16px]
		tablet-m:text-[12px]
		bg-primary text-secondary py-2 px-4 rounded-b-lg cursor-pointer 
	}

	.footer {
		@apply 
		order-3 

		mobile-s:col-span-2 
		tablet-m:col-span-3 
		
		font-gabarito 
		my-0 mx-auto w-fit py-2 px-4 
		
		bg-primary text-secondary rounded-t-2xl
	}

	.screen-reader-text {
		@apply
		absolute
		left-[-9999px] top-[-9999px]
	}
}
